.contenedor-linea-entrada {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: #f3f4f6;
  border-radius: 5px;
  border: 1px solid #d1d5db;
}

.input-cantidad {
  max-width: 14rem;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
}

.boton-si {
  background-color: #10b981;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #d1d5db;
}

/* Para la transciion de color */
.boton-si:hover {
  background-color: #059669;
}

.boton-no{
  background-color: #e21010;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #d1d5db;
}

/* Para la transciion de color */
.boton-no:hover {
  background-color: #aa0c0c;
}